*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

.history-page{

padding:40px;

background:#eef4ff;

min-height:100vh;

}

.history-page h1{

text-align:center;

font-size:42px;

margin-bottom:30px;

color:#2563eb;

}

.search-box{

display:flex;

align-items:center;

gap:10px;

background:white;

padding:15px;

border-radius:10px;

width:400px;

margin:0 auto 30px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.search-box input{

border:none;

outline:none;

width:100%;

font-size:16px;

}

table{

width:100%;

background:white;

border-collapse:collapse;

border-radius:15px;

overflow:hidden;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

th{

background:#2563eb;

color:white;

padding:18px;

}

td{

padding:18px;

text-align:center;

border-bottom:1px solid #eee;

}

.pass{

background:#16a34a;

color:white;

padding:6px 14px;

border-radius:20px;

}

.fail{

background:#dc2626;

color:white;

padding:6px 14px;

border-radius:20px;

}

button{

border:none;

padding:10px 14px;

margin:0 5px;

border-radius:8px;

cursor:pointer;

color:white;

}

.view{

background:#2563eb;

}

.delete{

background:#dc2626;

}

.summary{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin-top:40px;

}

.summary-card{

background:white;

padding:35px;

text-align:center;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.summary-card svg{

font-size:40px;

color:#2563eb;

margin-bottom:15px;

}

.summary-card h2{

font-size:40px;

margin-bottom:10px;

}