*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

.interview-page{

display:flex;

gap:30px;

padding:30px;

background:#eef4ff;

min-height:100vh;

}

.left-panel{

width:35%;

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.left-panel video{

width:100%;

height:500px;

border-radius:15px;

background:black;

object-fit:cover;

}

.right-panel{

flex:1;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.timer{

margin:20px 0;

font-size:22px;

font-weight:bold;

color:red;

}

.question-box{

padding:20px;

background:#eef4ff;

border-radius:15px;

margin-bottom:20px;

}

.answer-box textarea{

width:100%;

height:220px;

padding:15px;

border-radius:10px;

resize:none;

}

.buttons{

display:flex;

gap:20px;

margin-top:20px;

}

.buttons button{

padding:14px 25px;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

font-size:16px;

}

.start-btn{

background:#16a34a;

}

.stop-btn{

background:#dc2626;

}

.next-btn{

background:#2563eb;

}