*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

.report-page{

background:#eef4ff;

min-height:100vh;

padding:40px;

}

.report-header{

text-align:center;

margin-bottom:40px;

}

.report-header h1{

font-size:42px;

color:#2563eb;

}

.report-header p{

margin-top:10px;

color:#666;

}

.overall-score{

display:flex;

justify-content:center;

margin-bottom:40px;

}

.circle{

width:220px;

height:220px;

border-radius:50%;

background:#2563eb;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.circle h2{

font-size:60px;

}

.circle span{

font-size:20px;

}

.score-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin-bottom:40px;

}

.score-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.3s;

}

.score-card:hover{

transform:translateY(-8px);

}

.icon{

font-size:45px;

color:#2563eb;

margin-bottom:15px;

}

.score-card h3{

margin-bottom:10px;

}

.feedback-card{

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

margin-bottom:35px;

}

.feedback-card h2{

margin-bottom:20px;

}

.feedback-card ul{

line-height:2.2;

font-size:18px;

}

.action-buttons{

display:flex;

justify-content:center;

gap:25px;

}

.action-buttons button{

padding:15px 30px;

border:none;

border-radius:12px;

font-size:17px;

cursor:pointer;

display:flex;

align-items:center;

gap:10px;

color:white;

}

.download-btn{

background:#16a34a;

}

.history-btn{

background:#2563eb;

}