*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

.upload-page{

width:100%;
min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f4f7fc;

padding:40px;

}

.upload-card{

width:600px;

background:white;

padding:50px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.1);

text-align:center;

}

.upload-icon{

font-size:70px;

color:#2563eb;

margin-bottom:20px;

}

.upload-card h1{

margin-bottom:15px;

color:#1e293b;

}

.upload-card p{

margin-bottom:35px;

color:#64748b;

line-height:28px;

}

.upload-box{

display:block;

padding:40px;

border:2px dashed #2563eb;

border-radius:15px;

cursor:pointer;

transition:.3s;

font-size:18px;

color:#2563eb;

}

.upload-box:hover{

background:#eff6ff;

}

.pdf-icon{

font-size:45px;

display:block;

margin-bottom:15px;

}

.upload-btn{

margin-top:30px;

padding:15px 35px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

font-size:17px;

cursor:pointer;

transition:.3s;

}

.upload-btn:hover{

background:#1d4ed8;

}

@media(max-width:768px){

.upload-card{

width:100%;

padding:30px;

}

}